* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
    height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: max-content 1fr;
    grid-template-areas: 
        "nav nav"
        "menu main";
    grid-gap: 0.5rem;
    padding: 0.5rem;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.navbar,.menustrip,.maincontainer{
    background-color: #fff;
    border-radius: 8px;
}
/* section 1 */
.navbar {
    grid-area: nav;
}
.logotext {
    font-family: fonarto;
    color: #000;
    font-size: 2rem;
    margin: 1rem;
    padding-top: 10px;
    line-height: 0.5;
}
.actions{
    width: 80px;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}
.actions a{
    padding: 0.2rem;
    border-radius: 5px;
}
.actions a:hover{
    background-color: #f0f0f0;
}
/* section 2 */
.menustrip{
    grid-area: menu;
    width: 80px;
    padding: 1rem;
}
.ms-items{
    display: flex;
    border-radius: 5px;
    padding: 0.2rem;
}
.ms-items:hover{
    background-color: #f2f2f8;
}
.ms-items a{
    height: 100%;
    width: 100%;
    text-align: center;
}
/* section 3 */
.maincontainer {
    grid-area: main;
    padding: 1rem;
    overflow: auto;
}
.hero-group{
    margin-bottom: 2rem;
}
.hero-itemgroup{
    display: flex;
}
.hero-item{
    border-radius: 8px;
    background-color: #f2f2f8;
    height: 6rem;
    width: 6rem;
    margin: 0.5rem;
    color:#6969aa;
    display: grid;
    justify-content: center;
    padding: 10px;
}
.hero-item:hover{
    color:#6969aa;
}
.hero-item img{
    height: 50px;
    width: 50px;
}
.hero-item span{
    margin: 0 auto;
}